<h1>Showing Selected Article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Edit This Article", edit_article_path(@article) %> |<%# The | (pipe) is a divider between the links. %>
<%= link_to "Back to Articles Listing", articles_path %>

