<!DOCTYPE html>
<html>
<head>
<title>Welcome to the Alpha_Blog About Page!</title>
</head>
<body>

<h1>Welcome to the Alpha Blog About Page!</h1>
<br/>
<p>Go to <%= link_to 'Articles Index', articles_path %> page.</p>
</body>
</html>