<!DOCTYPE html>
<html>
<head>
<title>Welcome to the Alpha_Blog Help Page!</title>
</head>
<body>

<h1>Welcome to the Alpha Blog Help Page!</h1>
<br>
<p>This Help page has a header, a paragraph, and a footer.</p>
<p>You can click <%= link_to 'this link', root_path %> to go to the Home page.</p>
<br>
<footer>
  <p>Posted by: Spencer </p>
  <p>Contact information: <a href="mailto:spencer@example.com">spencer@example.com</a>.</p>
</footer>
</body>
</html>