<!DOCTYPE html>
<html>
<head>
<title>Welcome To My Webpage</title>
</head>
<body>

<div class="center jumbotron"><%#There are two classes here: a center class & a jumbotron class%>
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign-up Now!", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %><%#btn-xlarge gives the sign-up button a class for styling ajustments in custom.css.scss.%>
</div>
</body>
</html>