<!DOCTYPE html>
<html>
<head>
<title>Welcome To My Webpage</title>
</head>
<body>

<h1>Welcome To My Alpha Blog!</h1>
<br>
<p>This is the homepage for my Alpha Blog website.  It has a header, a paragraph and a footer.</p>
<p>You can click <%= link_to 'this link', about_path %> to go to the About page.</p>
<p>You can click <%= link_to 'this link', help_path %> to go to the Help page.</p>

<br>
<footer>
  <p>Posted by: Spencer </p>
  <p>Contact information: <a href="mailto:spencer@example.com">spencer@example.com</a>.</p>
</footer>
</body>
</html>