<!DOCTYPE html>
<html>
<head>
<title>Welcome To My Webpage</title>
</head>
<body>

<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
  <div class="center text">
    <h3>Alpha Blog is where interesting people gather to discuss interesting topics.</h3>
    <h3>Join an existing discussion or suggest a new topic.</h3>
</div>