<div class="container">
  <footer class="footer">
    <small>
      This Site Created by: Spencer Toyne - Ruby on Rails Developer |
      Contact Information: <a href="mailto:spencer.toyne@example.com">spencer.toyne@example.com
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
      </ul>
    </nav>